footer {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: var(--color-background-primary);
    font-size: 14px;
}

footer p {
    display: inline-block;
}

footer p a {
    color: var(--color-text);
    transition: 0.7s;
}

footer p a:hover {
    color: #BF6B04;
}

footer span {
    margin-top: 30px;
    display: block;
    line-height: 22px;
}