header {
    width: 100%;
    background-color: #0C0D0D;
    height: 50px;
    z-index: 1;
    position: fixed;
    top: 0;
}

.nav-itens {
    text-align: center;
    margin-top: 15px;
}

.nav-itens li {
    display: inline-block;
}

.nav-itens li:not(:last-child):after {
    content: "•";
    font-size: 18px;
    padding: 0 15px 0;
} 
.decoracao-link-nav {
    text-decoration: none;
    color: var(--color-text);
    font-size: 18px;

}

.nav-itens li:not(:last-child):after {
    content: "•";
    font-size: 18px;
} 

.nav-mobile {
    display: none;
}