main {
    margin-top: 50px;
    position: relative;
}

.dados-e-avatar {
    width: 1020px;
    margin: 0 auto;
    height: 330px;
    padding-top: 50px;
}

.dados-primarios {
    display: inline-block;
    margin-left: 100px;
}


.dados-primarios h1 {
    font-size: 70px;
    font-weight: bold;
}

.dados-primarios h2 {
    font-size: 30px;
}

.dados img,
.dados p {
    display: inline-block;
}

.dados {
    margin-top: 30px;
    font-size: 20px;
}

.dados p {
    position: relative;
    top: -4px;
    color: #FFF;
}

.avatar-redes {
    position: absolute;
    display: inline-block;
    margin-left: 30px;
}

.baby-yoda {
    border-radius: 60%;
    border: solid 4px #F2BB13;
}

.avatar-redes ul {
    width: 80%;
    margin: 0 auto;
    padding-left: 30px;
}

.avatar-redes li {
    display: inline-block;
    padding: 0 5px 0;
    margin-left: 5px;
    margin-top: 10px;
    transition: 0.7s;
}

.avatar-redes li:hover {
    transform: scale(1.3);
}

/* Parte de habilidades, experiência, sobre mim*/
.container-main {
    background-color: var(--color-background-second);
    padding-top: 50px;
}

.container-main section {
    width: 1020px;
    margin: 0 auto;
}


#sobre-mim {
    position: relative;
}

#sobre-mim img {
    display: inline-block;
    margin-left: 160px;
    /* padding-left: 200px; */
    width: 280px;
    border: 5px solid var(--color-background-primary);
    border-radius: 12px;
    box-shadow: inset 0 0 1em gold, 0 0 1em gold;
}

.um-pouco-sobre-mim {
    display: inline-block;
    width: 400px;
    line-height: 25px;
    margin-left: 50px;
    font-size: 18px;
    
}

.um-pouco-sobre-mim h3 {
    padding-bottom: 25px;
    
}

.formatacao-subtitulo{
    font-weight: 500;
    font-size: 20px;
    margin-top: 60px;
}


.um-pouco-sobre-mim p {
    color: var(--color-text-second);
    text-align: justify;
}

.container-caixa {
    width: 450px;
    height: 50px;
    border: 5px solid var(--color-background-primary);
    display: inline-block;
    padding: 16px 0;
    border-radius: 12px;
    color: var(--color-text-second);
    font-size: 19px;
    margin-left: 30px;
    margin-top: 30px;
    text-align: center;
    background-color:  var(--color-background-primary);
}


.img-interesse {
    margin-top: 30px;
    margin-left: 35px;
    transition: 0.7s;
    margin-bottom: 30px;
}

.img-interesse:hover {
    cursor: pointer;
    transform: scale(1.3);
}

#interesses ul li {
    margin-bottom: 30px;
}

.container-interesse-oculto {
    display: none;
}
