@media screen and (max-width: 970px) {

  /* body {
    width: 80%;
    margin: 0 auto;
  } */

   header {
    position: absolute;
  }

  .nav-desktop {
    display: none;
  }

  .nav-mobile {
    display: block ;
  }

  .elemento-oculto {
    display: none;
  }
  .menu-hamburguer {
    position: absolute;
    right: 0px;
    top: 10px;
  }

  .menu-aberto {
    position: fixed;
    right: 60px;
    top: 10px;
    background-color: var(--color-background-primary);
    width: 200px;
    height: 250px;
    border-radius: 16px;
  }
  
  .menu-aberto ul {
    text-align: center;
    line-height: 30px;
    padding-top: 70px;
  }

  .menu-aberto ul li a {
    text-decoration: none;
    color: var(--color-text);
  }

  #menu-exit {
    position: absolute;
    right: 0;
  }

  .dados-e-avatar {
    /* position: relative; */
    /* padding-top: 0; */
    /* margin-top: 160px; */
    /* text-align: center; */
    /* height: 200px; */
    width: 330px;
    height: 350px;
    /* margin: 200px auto 0; */
    padding-top: 210px;
    margin-left: 20px;
    /* margin: 0 auto; */
  }


  .dados-e-avatar,
  #sobre-mim,
  #formacao,
  #experiencias,
  #habilidades,
  #interesses {
    width: auto;
  }

  /* .container-main {
    width: 430px;
  } */
  .dados-primarios {
    /* width: 90%; */
    margin: 0 auto;
    /* text-align: center  ; */
    display: block;
  }

  .dados-primarios h1 {
    font-size: 40px;
  }

  .dados-primarios h2 {
    font-size: 20px;
  }
  .baby-yoda {
    width: 140px;
    position: absolute;
    /* top: 1; */
    top: -410px;
    left: 80px;
  }

  .avatar-redes ul {
    width: auto;
    margin-top: 15px;
    margin-left: 15px;
  }
  
  .container-main h3 {
    margin-left: 35px;
  }

  #sobre-mim {
    width: 80%;
    margin: 0 auto;
  }

  #sobre-mim img {
    margin-left: auto;
  }

  .um-pouco-sobre-mim {
    /* margin-left: auto; */
    /* text-align: center; */
    margin-left: 0;
  }
  .um-pouco-sobre-mim h3 {
    /* margin: 20px 0; */
    margin: 0;
    padding: 0;
    /* width: 100%; */
  }
  .um-pouco-sobre-mim p {
    font-size: 14px;
    line-height: 15px;
    width: 90%;
  }

  .container-caixa {
    width: 330px;
    font-size: 16px;
    height: 60px;
  }
  /*

  .nav-itens {
    display: none;
  }

  .nav-mobile {
    display: inline-block;
    position: relative;
    left: 80%;
  }

  .menu-aberto {
    position: fixed;
    right: inherit;
    z-index: 1;
    background-color:#0C0D0D;
    width: 200px;
    height: 200px;
    
  }

  .nav-itens-mobile li{
    padding-bottom: 10px;
  }

  .nav-itens-mobile a{
    color: #F2BB13;
  }
  .elemento-oculto {
    display: none;
  }

  .nav-mobile:hover {
    cursor: pointer;
  }

  body {
    width: 1024px;
  }

  main {
    margin: o auto;
  }

  .conteudo-central section,
  #sobre-mim,
  #display-oculto-amostra {
    width: 400px;
    margin: 0 auto;
  }

  .dados-e-avatar {
    height: 520px;
  }

  .avatar {
    width: 30%;
    position: relative;
    top: -40px;
    left: -30px;
  }

  .dados-completo {
    position: relative;
    top: 200px;
    left: 300px;
  }

  .redes-sociais {
    position: relative;
    top: 260px;
    left: -270px;
  }

  .redes-sociais ul li {
    display: inline-block;
    padding: 0 5px;
  }


  .container-sobre-mim {
    width: 88%;
  }

  #sobre-mim img {
    margin-left: 80px;
    margin-bottom: 10px;
  }

  .footer-centralizado {
    width: 240px;
    margin: 0 auto;
  }

  .footer-centralizado img {
    text-align: center;
  }


  .footer p {
    margin: 0;
  } */

}