@media screen and (max-width: 1024px) {

     
    .nav-itens {
      display: none;
    }

    .nav-mobile {
        /* display: inline-block; */
        position: absolute;
    }
  .nav-mobile:hover {
    cursor: pointer;
  } 

   body {
      width: 1024px;
  } 

  main {
      margin: o auto;
  }

  .conteudo-central section, #sobre-mim, #display-oculto-amostra {
    width: 400px;
    margin: 0 auto;
  }
  .dados-e-avatar {
      height: 520px;
  }

  .avatar {
      width: 30%;
      position: relative;
      top: -40px;
      left: -30px;
  }

  .dados-completo {
      position: relative;
      top: 200px;
      left: 300px;
  }

  .redes-sociais {
      position: relative;
      top: 260px;
      /* right: -100px; */
      left: -270px;
  }

  .redes-sociais ul li {
    display: inline-block;
    padding: 0 5px;
  }

   
  .container-sobre-mim {
    width: 88%;
  }

  #sobre-mim img {
    margin-left: 80px;
    margin-bottom: 10px;
  }

  .footer-centralizado {
    width: 240px;
    margin: 0 auto;
  }

  .footer-centralizado img {
    text-align: center;
  }



  
}